digi_xbee==1.1.1.1
Pillow==8.1.1
numpy==1.15.4
matplotlib==3.0.2
PyQt5==5.12.1
pyserial==3.4
PyInstaller==4.0
mapbox==0.18.0
pytest==5.4.3
pytest-mock==3.1.1
pytest-qt==3.3.0
coverage==5.1
setuptools>=50.3.2
git+https://github.com/SilentSys/orhelper.git@b0b206581b5156b3d6286dbfbf3f5bf410a95262#egg=orhelper