digi_xbee==1.1.1.1
Pillow==7.2.0
numpy==1.21.0
matplotlib==3.0.2
PyQt5==5.12.1
pyserial==3.4
PyInstaller==4.9
mapbox==0.18.0
pytest==5.4.3
pytest-mock==3.1.1
pytest-qt==3.3.0
coverage==5.1
setuptools==60.7.1
sortedcontainers==2.1.0
git+https://github.com/SilentSys/orhelper.git@bc240170b8fde9077c7e4ab6cd2aa01ace142a36#egg=orhelper